.card {
    position: relative;
    margin: 10px;
    cursor: grab;
    animation: card-light 2s ease-in infinite;
}
@keyframes card-light{
    from{
        box-shadow: 5px 5px 80px -8px rgba(0, 197, 223, 1);
    }
    to{
        box-shadow: 10px 10px 132px -8px rgba(0, 197, 223, 1);
    }
}
.card img {
    width: 100%;
    display: block;
    border: 2px solid #fff;
    border-radius: 5px;
}

.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}