.App{
  text-align: center;
}

h1{
  color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 5px #fff,
      0 0 15px #fff,
      0 0 30px rgb(34, 174, 179),
      0 0 70px rgb(34, 174, 179),
      0 0 80px rgb(34, 174, 179),
      0 0 90px rgb(34, 174, 179),
      0 0 140px rgb(34, 174, 179);
}

button{
  border: 2px solid #fff;
  padding:10px 20px;
  background: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.card-grid{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
}